/* Base Styles */
.proj-container_article {
  width: 100%;
  height: auto; /* Change to auto to allow the height to adjust */
  display: flex;
}

.proj-container_article-image img {
  height: auto; /* Maintain the aspect ratio */
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  border-radius: 30px;
  border: 2px solid #1DB954;
}


.proj-container_article-tools {
  margin-top: 0.5rem;
  justify-content: space-around; /* Distribute tools evenly on mobile */
  width: 100%; /* Full width on mobile */
}

.proj-container_article-tools img {
  width: 10%;
  max-width: 40px; /* Limit maximum width */
}

.proj-container_article-content {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proj-container_article-content p {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  color: #F7F7F2;
}

.proj-container_article-content h3 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  width: 180%;
  color: #F7F7F2;
  margin-bottom: 2rem;
}

.proj-container_article-content p:last-child {
  cursor: pointer;
}


/* Media Queries for Mobile */
@media screen and (max-width: 550px) {
  .proj-container_article-image img {
    width: 100%; /* Ensure the image takes the full width on small screens */
    max-width: none; /* Remove max-width restriction */
    height: auto;
  }

  .proj-container_article-tools img {
    width: 30%; /* Adjust tool icons size for small screens */
    max-width: 20px; /* Limit maximum width */
  }

  .proj-container_article-content p {
    font-size: 18px; /* Further reduce font size for small screens */
    line-height: 25px;
  }

  .proj-container_article-content h3 {
    font-size: 16px; /* Further reduce font size for small screens */
    line-height: 20px; /* Adjust line height for small screens */
  }
}