.gpt3__features-container__feature {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background:#1db853;
    justify-content: flex-start;
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    transition: background-color 0.5s;
    margin-bottom: 2rem;



}

.gpt3__features-container__feature:hover{
    background-color: #4be380;
}

.gpt3__features-container__feature-date {
    flex: 1;
    margin: 1rem; /* Top Right Bottom Left */

}

.gpt3__features-container__feature-date h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 10px;
    color: #093c1b;
}

.gpt3__features-container__feature-title {
    flex: 1;
    margin: 1rem 1rem 1rem 1rem; /* Top Right Bottom Left */

}

.gpt3__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 35px;
    line-height: 24px;
    color: #262626;
}


.gpt3__features-container_feature-text {
    flex: 2;
    display: flex;
    margin: 1rem; /* Top Right Bottom Left */

}

.gpt3__features-container_feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 5px;
    color: #404040;
}

@media screen and (max-width: 550px) {
    .gpt3__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .gpt3__features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .gpt3__features-container__feature {
        margin: 1rem 0;
    }
}