@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: Rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

  
  --color-bg: #fff;
  --color-footer : #1DB954;
  --color-blog: #1DB954;
  --color-text: #1DB954;
}