@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

  --gradient-text: #fff;
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #1DB954;
  --color-blog: #1DB954;
  --color-text: #1DB954;
}